/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #ffffff;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #4E6D9F;
    text-decoration: none;
}
a:visited
{
    color: #4E6D9F;
}
a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    line-height: 1.6em;
}

.command a:link
{
    text-decoration: underline;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
	color: #4E6D9F;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    margin: 10px auto;
    width: 974px;
    background-image: url("/Media/md-header.png");
    background-repeat: no-repeat;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    width: 974px;
    height:70px;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
}

#main
{
    padding: 25px 15px 15px 20px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
    width: 950px;
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0;
    position: relative;
    margin: 0;
    text-align: right;
    color: #fff;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul#menu li a
{
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

ul#menu li a:hover
{
    text-decoration: none;
}

ul#menu li a:active
{
    text-decoration: none;
}

ul#menu li.selected a
{
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #f2f2f2; 
  border: solid 1px lightgrey;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
	margin-top:14px;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	background-image: url("/Media/md-menu-bg.png");
	float:right;
}

div#title
{
    display:none;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    padding-top:4px;
    color:white;
}

#logindisplay a:link
{
    text-decoration: underline;
    color:white;
}

#logindisplay a:visited
{
    text-decoration: underline;
    color:white;
}

#logindisplay a:hover
{
    text-decoration: none;
}

.side-panel
{
	padding-bottom: 20px;
}

.side-panel h1
{
    font-size: 1.2em;
	color: #4E6D9F;
}

.tag-source-table, .tag-source-table tr, .tag-source-table td
{
	padding:0;
	margin:0;
}

.tag-source-table-body
{
	border: solid 1px lightgrey
}
.tag-source-table-body-Ready
{
}
.tag-source-table-body td
{
	padding: 5px;
	background-color: #f5f5f5
}
.tag-source-table-name
{
	color:black;
	background-color: #f2f2f2;
	font-weight: bold;
	padding: 5px;
	border-top: solid 1px lightgrey;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
}
.tag-source-table-status
{
	color:black;
	padding: 5px;
	border-top: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	background-color: #ebde6b;
}

.tag-source-table-status-BuildError
{
	background-color: #ff4a4a;
}

.tag-source-table-status-Ready
{
	background-color: #eeeeee;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
